#info .on-air,
#info .on-air .air-info .links,
#info .on-air .bottom,
#info .on-air .top,
#info,
#header .top,
#header .bot,
#header,
.nav,
.nav .menu,
#content,
#content .today .heading,
#content .news-cont .title,
#content .news-cont .single,
#content .news-cont .top,
#content .news-cont,
#content .news-cont .single .data,
#content .shedule LI,
#content .shedule .top,
#content .shedule .bot,
#content .shedule .program DT,
#content .news .switch,
#content .favourite DT,
#content .actions,
#content .interesting DL,
#footer .partners,
#footer .partners .bot,
#content .sched .radio,
#content .sched .radio A,
#content .sched .week,
#content .sched,
#content .author .main,
#content .author .main .top,
#content .author .main DL,
#content .author .main .when,
#content .author .links,
#content .author .pub.next,
#content .author .pub.next .bot,
#content .author .audio-player .people,
#content .author .archive .months,
#content .author .archive .years,
#content .cal-switch,
#content .persons UL LI,
#content .guests UL,
#content .news-full LI .tags,
#inner #header .last-news,
#content .broadcasting .switcher,
#content .contacts DL {
	zoom:1;
	}
#content .sidebar H2,
#content .favourite DD {margin-bottom:0;}
#content .favourite {margin-bottom:15px;}
#content .poll H2 {margin-bottom:15px;}
#content .interesting H2 {margin-bottom:20px;}
#content .sched .morning {display:inline;}
#content .favourite {margin-top:-15px;}