  #left .bottommenu li {
    padding:3px 0 5px 20px;
    background:url("white_link.gif") no-repeat 0% 11px;
    }
    #left .bottommenu li.first {
      background:url("white_link.gif") 0 8px no-repeat;
      }
  #left bottom {
    margin-bottom:0;
  }
  #center .logo {
    height:111px;
    border-bottom:8px solid #666666;
    }
  #center .news {
    height:496px;
    he\ight:454px;
    }
#tests .city {
  position:relative;
  left:-3px;
  height:256px;
  background:url("images/houses.jpg") left top no-repeat;  
}
#tests .city div.home {
      width:72px;
  }
  #tests .city img {
    margin-right:0;
    padding:24px;
    border-right:11px solid #0099CC;
  }
#tests .text {
	pos\ition:relative;
	l\eft:-1px;
}
#tests .text div.background {
pos\ition:relative;
l\eft:1px;
marg\in: 10px 78px 10px 0;
}
#footer {margin-top:-10px;}
#footer .bottom-logo {
  float:left;
  padding:40px 55px 40px 60px;
  padd\ing:40px 65px 40px 66px;
}
 #footer .bottom-logo li {
  padding:0;
}
#footer .copy {
    float:left;
    margin-top:0;
    padding:46px 71px 46px 70px;
    background:#6B8E24;
    color:#fff;
    font-size:70%;
    text-align:center;
  }
    #footer .copy a {
      display:block;
      color:#fff;
      text-decoration:underline;
    }
#footer .links {
  margin-left:528px;
  padding-top:30px;
  padding-left:20px;
}
  #footer .links a:link, #footer .links a:visited, #footer .links a:active {
        margin-right:10px;
        display:inline;
        color:#003366;
        font-size: 80%;
        text-decoration:underline;
  }
  #footer .links a:hover {
      color:#3399CC;
  }
  #wrapper 
  {width: expression((document.body.clientWidth||document.documentElement.clientWidth)  > 1007 ? '100%' : '1007px');}
