* {padding:0;margin:0;}
HTML {font-size:100%;}
BODY {
	padding:1em 1.5em;
	font:.9em/1.3em Verdana,Tahoma,Aral,sans-serif;
	}
A IMG {
	border:none;
	}
P {
	margin-bottom:1em;
	}
H1, H2, H3 {
	margin-bottom:1em;
	}
H1 {
	font-size:200%;
	}
.quote {
	display:block;
	margin-bottom:1em;
	}
.counters {
	float:right;
	}
.counters LI {
	list-style:none;
	display:inline;
	}