* {padding:0;margin:0;}

HTML {font-size:100%;}
BODY {
	padding:14px 0;
	background:#0F131B url(../i/gast/hand.gif) 50% 100% no-repeat;;
	font:.8em Verdana, Arial, Tahoma, sans-serif;
	color:#9FA8B7;
	}
FIELDSET {border:solid 0 transparent;}

IMG {border:none;}
A {outline:none;color:#D50E2D;text-decoration:none;}
A:hover {
	color:#FFF;
	}
A.rarr {
	padding-right:10px;
	background:url(../i/gast/rarr.gif) 100% 60% no-repeat;
	}
	A.rarr:hover {
		background:url(../i/gast/rarr-hover.gif) 100% 60% no-repeat;
		}
A.alt-link {
	color:#50555f;
	}
A.alt-link:hover {
		color:#FFF;
		}
.clear {
	width:100%;
	height:1px;
	overflow:hidden;
	}
	
/* Main
-------------------------------------- */
#main {
	margin:0 auto;
	width:964px;
	}

/* Poplit
-------------------------------------- */
#poplit {
	}
	#poplit H1 {
		margin:0 0 14px;
		width:964px;
		height:80px;
		background:url(../i/title.png) no-repeat;
		}
		#poplit H1 SPAN {
			display:none;
			}

/* Projects
-------------------------------------- */
#projects {
	overflow:hidden;
	}
	#projects SPAN {
		display:none;
		}
	#projects H2 A {
		position:absolute;
		display:block;
		}
	#projects UL A {
		position:absolute;
		display:block;
		}
	#projects .off {
		opacity:.2;
		}

/* Items */
#projects .metro {
	position:relative;
	float:left;
	margin:0 0 14px;
	width:964px;
	height:469px;
	background:url(../i/metro/splash.jpg) no-repeat;
	}
	#projects .metro H2 A {
		top:108px;
		left:426px;
		width:432px;
		height:193px;
		}
	#projects .metro UL A {
		top:437px;
		height:15px;
		}
	#projects .metro .book {
		left:397px;
		width:65px;
		}
	#projects .metro .game {
		left:475px;
		width:53px;
		}
	#projects .metro .distributors {
		left:540px;
		width:189px;
		}
	#projects .metro .copyrights {
		left:742px;
		width:67px;
		}
	#projects .metro .contacts {
		left:823px;
		width:108px;
		}
#projects .gast {
	position:relative;
	float:left;
	width:475px;
	height:268px;
	background:url(../i/gast/splash.jpg) no-repeat;
	}
	#projects .gast H2 A {
		top:0;
		left:0;
		width:475px;
		height:72px;
		}
	#projects .gast UL A {
		top:251px;
		height:14px;
		}
	#projects .gast .book {
		left:184px;
		width:38px;
		}
	#projects .gast .distributors {
		left:228px;
		width:103px;
		}
	#projects .gast .copyrights {
		left:335px;
		width:37px;
		}
	#projects .gast .contacts {
		left:382px;
		width:59px;
		}
#projects .hist {
	position:relative;
	float:right;
	width:475px;
	height:268px;
	background:url(../i/hist/splash.jpg) no-repeat;
	}
	#projects .hist H2 A {
		top:27px;
		left:96px;
		width:379px;
		height:89px;
		}
	#projects .hist UL A {
		top:245px;
		height:14px;
		}
	#projects .hist .book {
		left:13px;
		width:36px;
		}
	#projects .hist .distributors {
		left:57px;
		width:97px;
		}
	#projects .hist .contacts {
		left:167px;
		width:56px;
		}

/* Publish info
-------------------------------------- */
#publish-info {
	overflow:hidden;
	}
#publish-info LI {
	float:left;
	list-style:none;
	}
#publish-info .flash {
	float:right;
	padding-right:4px;
	}
		
/* Header
-------------------------------------- */
#header {
	position:relative;
	margin:14px 0;
	}
	#header H1 SPAN {
		display:none;
		}

/* Gast */
#header {
	height:162px;
	background:#000 url(../i/gast/header.jpg) no-repeat;
	}
	#header H1 {
		padding:38px 0 0 58px;
		height:98px;
		}
		#header H1 A {
			display:block;
			width:859px;
			height:82px;
			}

/* Menu
-------------------------------------- */
.menu {
	float:left;
	}
	.menu.right {
		float:right;
		}
.menu LI {
	float:left;
	list-style:none;
	}
.menu A,
.menu STRONG {
	float:left;
	background-repeat:no-repeat;
	}
.menu A:hover,
.menu STRONG {
	background-position:0 0 !important;
	}
.menu SPAN {
	display:none;
	}

/* Gast */
.menu UL {
	padding:0 0 0 57px;
	height:13px;
	}
.menu A,
.menu STRONG {
	margin:0 18px 0 0;
	height:15px;
	background-position:0 -15px;
	}
.menu .intro {
	width:72px;
	background-image:url(../i/gast/menu/intro.gif);
	}
.menu .kuleb {
	width:73px;
	background-image:url(../i/gast/menu/kuleb.gif);
	}
.menu .kabak {
	width:47px;
	background-image:url(../i/gast/menu/kabak.gif);
	}
.menu .gast {
	width:104px;
	background-image:url(../i/gast/menu/gast.gif);
	}
.menu .irochka {
	width:57px;
	background-image:url(../i/gast/menu/irochka.gif);
	}
.menu .naezd {
	width:44px;
	background-image:url(../i/gast/menu/naezd.gif);
	}
.menu .limita {
	width:60px;
	background-image:url(../i/gast/menu/limita.gif);
	}
.menu .distrib {
	width:129px;
	background-image:url(../i/gast/menu/distr.gif);
	}

.menu a.big_link {
	position:absolute;
	height:103px;
	width:860px;
	z-index:1;
	display:block;
	text-decoration:none;
	margin-top:-120px;
	margin-bottom:17px;
	left:57px;
}

.menu a.big_link_bottom {
	position:absolute;
	width:860px;
	height:103px;
	z-index:0;
	display:block;
	text-decoration:none;
	margin-top:-6px;
	left:77px;
}

/* Page
-------------------------------------- */
#page {
	margin:0 0 14px;
	overflow:hidden;
	position:relative;
	}

/* Content
-------------------------------------- */
#content {
	float:left;
	width:520px;
	padding:35px 58px 35px;
	line-height:1.5em;
	background:url(../i/bg.png);
	overflow:hidden;
	}
	#content P {
		clear:both;
		margin:0 0 1.5em;
		width:100%;
		overflow:hidden;
		}
	#content P.last {
		padding:0 0 2.5em;
		margin:0 0 2em;
		background:url(../i/gast/stars.gif) 50% 100% no-repeat;
		}
	#content P.notice {
		font-size:1.2em;
		}
	#content UL,
	#content OL {
		list-style:square;
		list-style-position:inside;
		margin-left:1em;
		}
		#content UL LI,
		#content OL LI {
			margin-bottom:.5em;
			}
		
/* Prints
-------------------------------------- */
	#content .prints {
		width:100%;
		margin-bottom:16px;
		overflow:hidden;
		margin-left:0;
		}
		#content .prints LI {
			float:left;
			margin-right:10px;
			list-style:none;
			}
		
/* Headings
-------------------------------------- */
#content H2 {
	margin:-9px 0 .5em;
	overflow:hidden;
	text-indent:-9000px;
	font-size:1em;
	}
#content H3 {
	margin-bottom:.5em;
	}
/* Gast */
#content H2 {
	height:34px;
	}
#content .intro {
	background:url(../i/gast/head/intro-3.gif) no-repeat;
	}
#content .kuleb {
	background:url(../i/gast/head/kuleb.gif) no-repeat;
	}
#content .kabak {
	background:url(../i/gast/head/kabak.gif) no-repeat;
	}
#content .gast {
	background:url(../i/gast/head/gast.gif) no-repeat;
	}
#content .irochka {
	background:url(../i/gast/head/irochka.gif) no-repeat;
	}
#content .naezd {
	background:url(../i/gast/head/naezd.gif) no-repeat;
	}
#content .limita {
	background:url(../i/gast/head/limita.gif) no-repeat;
	}
#content .distr {
	background:url(../i/gast/head/distr.gif) no-repeat;
	}
#content .interview {
	height:74px;
	background:url(../i/gast/head/interview-cont.gif) no-repeat;
	}
#content .shop {
	background:url(../i/gast/head/stores.gif) no-repeat;
	}
	
/* Blockquote
-------------------------------------- */
#content .quote {
	float:right;
	padding:10px 18px 13px;
	margin:.4em 0 0 .8em;
	width:200px;
	background:#2C2F35;
	color:#EEE;
	line-height:1.3em;
	}
	
/* Definition lists
-------------------------------------- */
#content DL {
	margin-bottom:20px;
	}
	#content DL DT {
		font-weight:bold;
		color:#DB0529;
		margin-bottom:10px;
		}
	#content DL DD {
		margin-bottom:10px;
		}
	#content DL DL DT {
		color:#FFF;
		margin-bottom:3px;
		}
	#content DL DT A {
		color:#DB0529;
		text-decoration:underline;
		}

/* Notice
-------------------------------------- */
#content .notice {
	color:#D50E2D;
	}
	
/* Picture
-------------------------------------- */
.pic {
	display:block;
	margin:.4em 0 1em 0;
	color:#444;
	opacity:1;
	-moz-opacity:1;
	}
.pic.left {
	float:left;
	margin-right:1.5em;
	}
.pic.right {
	float:right;
	margin-left:1.5em;
	}
	.pic IMG {
		display:block;
		}
	.pic SMALL {
		display:block;
		padding:.5em 0 0;
		font-size:1em;
		}
.center {
	text-align:center;
	}

/* Sidebar
-------------------------------------- */
#sidebar {
	float:right;
	width:308px;
	padding-bottom:686px;
	}
	#sidebar #interview {
		background:#090b10 url(../i/gast/left-q.gif) 8px 53px no-repeat;
		}
	#sidebar #interview H3 {
		background:url(../i/gast/head/interview-2.gif) no-repeat;
		width:146px;
		height:13px;
		}
	#sidebar #interview P {
		background:#090b10 url(../i/gast/right-q.gif) 28% 100% no-repeat;
		}
	#sidebar #opinions H3 {
		background:url(../i/gast/head/opinions.gif) no-repeat;
		width:63px;
		height:11px;
		}
		#sidebar #opinions DL {
			border-bottom:1px solid #6a707c;
			margin-bottom:18px;
			}
			#sidebar #opinions DT {
				margin-bottom:18px;
				font-weight:bold;
				overflow:hidden;
				line-height:1.6em;
				}
			#sidebar #opinions DD {
				margin-bottom:18px;
				font-style:italic;
				}
		#sidebar #opinions .name A {
			color:#FFF;
			}
		#sidebar #opinions .avatar {
			float:left;
			display:block;
			margin:.3em 14px 0 0;
			}
		#sidebar #poplit H3 {
			background:url(../i/gast/head/poplit.gif) no-repeat;
			width:203px;
			height:14px;
			}
		#sidebar #poplit IMG {
			display:block;
			margin-bottom:20px;
			}
			#sidebar #shops H3 {
		background:url(../i/gast/head/shops.gif) no-repeat;
		width:167px;
		height:18px;
		}
	#sidebar #shops UL {
		margin:0 0 15px 13px;
		color:#D50E2D;
		}
		#sidebar #shops UL LI {
			list-style-type:circle;
			margin-bottom:5px;
			}
		#sidebar #shops P {
			}
		
/* Project
-------------------------------------- */
#project {
	position:absolute;
	bottom:0px;
	right:0px;
	width:308px;
	}
#project H3 {
	background:url(../i/gast/head/partners.gif) no-repeat;
	width:203px;
	height:14px;
	}
#project .book {
	display: block;
	}
#project OBJECT {
	display:block;
	margin-bottom:15px;
	}
#project .module {
	padding-right:0;
	margin-bottom:0;
	}
#partners {
	overflow:hidden;
	}
#partners LI {
	float:left;
	display:block;
	margin:0 10px 15px 0;
	list-style:none;
	}
	#partners LI A {
		display:block;
		
		}
	#partners LI SPAN {
		display:none;
		}
	#partners LI.nms A {
		width:143px;
		height:47px;
		background:url(../i/gast/partners/part-nms.gif) no-repeat;
		}
	#partners LI.club A {
		width:74px;
		height:51px;
		background:url(../i/gast/partners/part-club.gif) no-repeat;
		}
	#partners LI.dni A {
		width:58px;
		height:28px;
		background:url(../i/gast/partners/part-dni.gif) no-repeat;
		}
	#partners LI.vz A {
		width:69px;
		height:28px;
		background:url(../i/gast/partners/part-vz.gif) no-repeat;
		}
	#partners LI.dozory A {
		width:62px;
		height:28px;
		background:url(../i/gast/partners/part-dozory.gif) no-repeat;
		}
	#partners LI.sob A {
		width:101px;
		height:28px;
		background:url(../i/gast/partners/part-sob.gif) no-repeat;
		}
	#partners LI.redstorm A {
		width:104px;
		height:28px;
		background:url(../i/gast/partners/part-redstorm.gif) no-repeat;
		}
	#partners LI.nz A {
		width:99px;
		height:18px;
		background:url(../i/gast/partners/part-nz.gif) no-repeat;
		}
	#partners LI.made A {
		width:137px;
		height:18px;
		background:url(../i/gast/partners/part-made.gif) no-repeat;
		}
	#partners LI.nms A:hover {
		background:url(../i/gast/partners/part-nms-hover.gif) no-repeat;
		}
	#partners LI.club A:hover {
		background:url(../i/gast/partners/part-club-hover.gif) no-repeat;
		}
	#partners LI.dni A:hover {
		background:url(../i/gast/partners/part-dni-hover.gif) no-repeat;
		}
	#partners LI.vz A:hover {
		background:url(../i/gast/partners/part-vz-hover.gif) no-repeat;
		}
	#partners LI.dozory A:hover {
		background:url(../i/gast/partners/part-dozory-hover.gif) no-repeat;
		}
	#partners LI.sob A:hover {
		background:url(../i/gast/partners/part-sob-hover.gif) no-repeat;
		}
	#partners LI.redstorm A:hover {
		background:url(../i/gast/partners/part-redstorm-hover.gif) no-repeat;
		}
	#partners LI.nz A:hover {
		background:url(../i/gast/partners/part-nz-hover.gif) no-repeat;
		}
	#partners LI.made A:hover {
		background:url(../i/gast/partners/part-made-hover.gif) no-repeat;
		}
/* Module
-------------------------------------- */
.module {
	padding:20px 25px;
	margin-bottom:15px;
	background:url(../i/bg.png);
	}
	.module H3 {
		margin-bottom:18px;
		}
		.module H3 A {
			display:block;
			width:100%;
			height:100%;
			}
		.module H3 SPAN {
			display:none;
			}

/* Footer
-------------------------------------- */
#footer {
	margin:0 0 14px;
	}

/* Gast */
#footer {
	height:162px;
	background:#000 url(../i/gast/footer.jpg) no-repeat;
	}
	#footer .menu {
		padding:16px 0 0;
		}
		
/* Counters
-------------------------------------- */
.count {
	position:absolute;
	left:-5000px;
	}
.counters {
	float:right;
	}
.counters LI {
	list-style:none;
	display:inline;
	}
