/* Form */
.form .check LABEL {
	line-height:1.4em;
	}
.form .check {
	padding-top:5px;
	}
/* menu */
#nav LI.on {
		background:#69A900 url(../i/cur.gif) repeat-x;
		}
	#nav LI.on UL {
		display:block;
		border-top:1px solid #D6D6D5;
		}
		#nav LI.on UL LI {
			background:none;
			}
		#nav LI.on A {
			color:#FFF;
			}
		#nav LI.on UL LI A {
			color:#8B8B8B;
			}
		#nav LI.on UL LI A:hover {
			color:#638B22;
			}
* HTML BODY {
	text-align:center;
	}
* HTML #container {
	text-align:left;
	}
* HTML #nav {
	width:621px;
	w\idth:611px;
	}
#header .tech-nav LI {
	background:url(../i/sep.gif) 100% .3em no-repeat;
	}